<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Happy Earth Architecture logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Happy Earth Architecture</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/post" class="link">Projects</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "Happy Earth Architecture on Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "Happy Earth Architecture on Twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "Happy Earth Architecture on Instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
