<footer class="bg-beige ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo3.svg" alt="Happy Earth Architecture logo" class="db w5 center mb4 br0">

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Happy Earth Architecture</h3>
				<ul class="mhn3">
					<a href="/" class="grey-3 link">Home</a> | 
					<a href="/post" class="grey-3 link">Projects</a> | 
					<a href="/contact" class="grey-3 link">Contact</a>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Social media</h3>
				<ul class="mhn3">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "Happy Earth Architecture on Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "Happy Earth Architecture on Twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "Happy Earth Architecture on Instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
